# node modules
citrusOS/node_modules
.vs
.env
# Juice lib
juice/

# PHP Vendor
php/app/vendor

# React

react/app/node_modules
react-native/app/node_modules

# Typescript

typescript/app/node_modules

# Vue

vue/app/node_modules

# Angular
angular/app/node_modules

# Nectarine
nectarine/node_modules
nectarine/config.yml

# Grapevine
grapevine/node_modules
grapevine/config.yml
grapevine/.env