<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/juice.css">
    <title>Document</title>
</head>
<body>
    <div class="mt:10 p:rel:5" id="billing-information">
        <h3>Billing Information</h3>
        <div class="flex fw-wrap w:80% gap:5">
            <div class="mt:5">
                <label for="cc">Credit/Debit Card <input type="number" name="cc" id="cc-field" placeholder="1234 5678 9012 3456"></label>
            </div>
            <div class="mt:5">
                <label for="exp">Exp <input type="number" name="exp" id="exp-field" placeholder="05 25"></label>
            </div>
            <div class="mt:5">
                <label for="ccv">CCV <input type="number" name="ccv" id="ccv-field" placeholder="123"></label>
            </div>
        </div>
    </div>
</body>
</html>