.wiggle {
    animation: wiggle 1s linear forwards;
}

@keyframes wiggle {
    0%{
        transform: translateX(1px);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(1.8px);
    }

    100% {
        transform: translateX(-0.2px);
    }
}