<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/juice.css">
    <title>Nav Components</title>
</head>
<body>
    <div>
        <nav class="navbar bgc-green-400">
            <div><span>Logo Text</span></div>
            <ul class="flex gap-3 space-between items-center justify-center">
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
            </ul>
        </nav>
    </div>
    <div>
        <h3>Nav Strip</h3>
    </div>
    <div>
        <nav class="navstrip bgc-green-400">
            <div><span>Logo Text</span></div>
            <ul class="flex gap-3 space-between items-center justify-center">
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
                <li class="korolev-rounded text:md">Link</li>
            </ul>
        </nav>
    </div>
</body>
</html>